<div class="fp-container">
  <mat-card class="fp-form">
    <h3>FORGOT PASSWORD</h3>
    <mat-form-field class="fullw" appearance="fill" *ngIf="step == 1">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="example@example.com"
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ validateEmail() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="fullw" appearance="fill" *ngIf="step == 2">
      <mat-label>Enter code</mat-label>
      <input matInput required />
      <mat-error *ngIf="code.invalid">{{ validateCode() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="fullw" appearance="fill" *ngIf="step == 3">
      <mat-label>Password</mat-label>
      <input matInput required />
      <mat-error *ngIf="password.invalid">{{ validatePassword() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="fullw" appearance="fill" *ngIf="step == 3">
      <mat-label>Repeat password</mat-label>
      <input matInput required />
      <mat-error *ngIf="password.invalid">{{ validatePassword() }}</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      *ngIf="step == 1"
      (click)="nextStep()"
    >
      SEND CODE
    </button>
    <div class="buttons-container">
      <button mat-stroked-button *ngIf="step == 2" (click)="prevStep()">
        BACK
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="step == 2"
        (click)="nextStep()"
      >
        SUBMIT
      </button>
    </div>
    <button
      mat-raised-button
      color="primary"
      *ngIf="step == 3"
      routerLink="/categories"
    >
      SET NEW PASSWORD
    </button>
  </mat-card>
</div>
