<header>
  <nav>
    <button mat-button routerLink="/categories" routerLinkActive="activebutton">
      Categories
    </button>
    <button
      mat-button
      routerLink="/all-recipes"
      routerLinkActive="activebutton"
    >
      Recipes
    </button>
    <button
      mat-button
      routerLink="/favorites"
      routerLinkActive="activebutton"
      *ngIf="isAuth()"
    >
      Favorites
    </button>
    <button
      mat-button
      routerLink="/create-recipe"
      routerLinkActive="activebutton"
      *ngIf="isAuth()"
    >
      Create recipe
    </button>
    <button
      mat-button
      routerLink="/create-category"
      routerLinkActive="activebutton"
      *ngIf="isAuth() && user.role_id == 1"
    >
      Create category
    </button>
    <button
      mat-button
      routerLink="/create-ingredient"
      routerLinkActive="activebutton"
      *ngIf="isAuth() && user.role_id == 1"
    >
      Create ingredient
    </button>
  </nav>
  <div class="profile-container">
    <div class="user" *ngIf="isAuth()" [matMenuTriggerFor]="menu">
      <span>{{ user.user_name | capitalize }}</span>
      <mat-icon>account_circle</mat-icon>
    </div>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="logout()" routerLink="categories">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
    <div class="arrow" *ngIf="isAuth()"></div>
    <button mat-stroked-button *ngIf="!isAuth()" routerLink="login">
      SIGN UP
    </button>
  </div>
</header>
