.recipes-container {
  display: flex;
  flex-direction: column;

  .search-container {
    margin: 20px auto -20px;
    display: flex;
    justify-content: center;
    width: 300px;

    .search {
      margin-left: 10px;
      height: 52px;
      min-width: 52px;
    }
  }
  .nothing-found {
    padding: 20px;
    margin: 20px auto;
    background-color: darkred;
    color: white;
    border-radius: 4px;
  }
}
