@import '../../../styles.scss';

.category-container {
  max-width: $content-width;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto 20px;

  .category-btn {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }

  .category-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
.back-to-cat {
  position: fixed;
  height: 52px;
  left: 20px;
  top: 70px;
}
