.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-form {
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .fullw {
      width: 100%;
    }

    .login-options {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .login-error {
        color: darkred;
        font-weight: bold;
        line-height: 40px;
      }
      .additional-options {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
